<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Designer By <a href="#">İlkay Gül</a> @DateTime.Now.Year </span>
    </div>
    <div class="container-fluid clearfix">
        <span class="text-muted text- d-block text-center text-sm-left  d-sm-inline-block "> @User.Identity.AuthenticationType ' ile oturum açtınız. </span>
    </div>
</footer>