@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "WriterRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<body class="hold-transition sidebar-mini">

    <!-- Navbar -->
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->

    <section class="content-header">

        <div class="container-fluid">

            <div class="row mb-2">

                <div class="col-sm-6">

                    <h3>Profilim</h3>

                </div>

            </div>

        </div><!-- /.container-fluid -->

    </section>

    <!-- Main content -->

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3">

                    <!-- Profile Image -->

                    <div class="card card-primary card-outline">

                        <div class="card-body box-profile">

                            <div class="text-center">

                                @if (Model.WriterImage == null)
                                {
                                    <img width="150" height="150" class="img-circle"
                                         src="~/WriterImageFiles/user-icon.jpg"
                                         alt="User Default Profile Picture">
                                }
                                else
                                {
                                    <img src="~/WriterImageFiles/@Model.WriterImage" width="150" height="150" class="img-circle" alt="Profil Resmi" />
                                }

                            </div>


                            <p class="text-muted text-center">@Model.WriterName </p>


                        </div>

                        <!-- /.card-body -->

                    </div>

                    <!-- /.card -->
                    <!-- About Me Box -->

                    <div class="card card-primary mt-2">

                        <div class="card-body">

                            <strong><i class="far fa-file-alt mr-1"></i> Mail Adresi</strong>
                            <p class="text-muted">@Model.WriterMail</p>
                            <hr>
                            <a href="/Admin/Message/InBox/" class="btn btn-info btn-block"><b>Mesaj Gelen Kutusu</b></a>
                        </div>

                        <!-- /.card-body -->

                    </div>

                    <!-- /.card -->

                </div>

                <!-- /.col -->

                <div class="col-md-9">

                    <div class="card">

                        <div class="card-body">

                            <div class="tab-content">

                                <div class="active tab-pane" id="settings">


                                    <form class="form-horizontal" asp-action="WriterRole" asp-controller="Writer" method="post" autocomplete="off" enctype="multipart/form-data">

                                        <input type="hidden" asp-for="WriterId" />
                                        <div class="form-group row">

                                            <label for="inputName" class="col-sm-2 col-form-label">Adı / Soyadı : </label>

                                            <div class="col-sm-10">

                                                <input type="text" class="form-control" asp-for="WriterName" placeholder="Yazarın Adı/Soyadı">

                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <label for="inputName" class="col-sm-2 col-form-label">Yazarın Ünvanı : </label>

                                            <div class="col-sm-10">

                                                <input type="text" class="form-control" asp-for="WriterTitle" placeholder="Yazarın Ünvanı">

                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <label for="inputName" class="col-sm-2 col-form-label">Mail :</label>

                                            <div class="col-sm-10">

                                                <input type="text" class="form-control" asp-for="WriterMail" placeholder="Mail">

                                            </div>

                                        </div>


                                        <div class="form-group row">

                                            <label for="inputName" class="col-sm-2 col-form-label">Rol :</label>

                                            <div class="col-sm-10">

                                                <input type="text" class="form-control" asp-for="WriterRole" placeholder="Rol">

                                            </div>

                                        </div>


                                        <div class="form-group row">

                                            <label for="inputName" class="col-sm-2 col-form-label">Hakkında :</label>

                                            <div class="col-sm-10">

                                                <textarea class="form-control" asp-for="WriterAbout" rows="10" placeholder="Hakkında"></textarea>

                                            </div>

                                        </div>


                                        @if (Model.WriterImage == null)
                                        {
                                            <div class="form-group row">

                                                <label for="inputName" class="col-sm-2 col-form-label">Profil Fotorafı :</label>

                                                <div class="custom-file" style="width:20rem ; margin-left:9px">
                                                    <input type="file" name="WriterImage" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label " for="customFileLang">Resim Seçiniz</label>
                                                </div>

                                            </div>
                                        }


                                        <div class="form-group row">

                                            <label for="inputName" class="col-sm-2 col-form-label">Fotoğraf Url :</label>

                                            <div class="col-sm-10">

                                                <input type="text" class="form-control" asp-for="WriterImage" placeholder="Resim">

                                            </div>

                                        </div>



                                        <div class="form-group row">

                                            <label for="inputName" class="col-sm-2 col-form-label">Şifre :</label>

                                            <div class="col-sm-10">

                                                <input type="text" class="form-control" asp-for="WriterPassword" placeholder="Parola">

                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <div class="offset-sm-2 col-sm-10">

                                                <button class="btn btn-info ">Güncelle</button>

                                            </div>

                                        </div>

                                    </form>

                                </div>

                                <!-- /.tab-pane -->

                            </div>

                            <!-- /.tab-content -->

                        </div>

                        <!-- /.card-body -->

                    </div>

                    <!-- /.nav-tabs-custom -->

                </div>

                <!-- /.col -->

            </div>

            <!-- /.row -->

        </div><!-- /.container-fluid -->

    </section>

    <!-- /.content -->
    <!-- Control Sidebar -->

    <aside class="control-sidebar control-sidebar-dark">

        <!-- Control sidebar content goes here -->

    </aside>


</body>
