
<div class="comment-top">
    <h4>Bir Yorum Bırak</h4>
    <div class="comment-bottom">
        <form asp-action="PartialAddComment" asp-controller="Comment" method="post" autocomplete="off">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">

            <textarea class="form-control" name="CommentContent" placeholder="Message..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
        </form>
    </div>
</div>
