@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<body>
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h2 class="tit container text-center"><b>Hakkımızda</b></h2>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">
                        @foreach (var item in Model)
                        {
                            <div class="blog_info_left_grid">
                                <a>
                                    <img src="~/AboutImageFiles/@item.AboutImage1" class="img-fluid" alt="">
                                </a>
                            </div>
                            <h3>
                                @item.AboutDetails2
                            </h3>


                            <p>
                                @item.AboutDetails1
                            </p>
                        }


                    </div>

                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/Thema/web/images/banner1.jpg" class="img-fluid" alt="">
                        </div>

                        <!--SubscribeMail PartialView -->
                        <partial name="~/Views/NewsLetter/SubscribeMail.cshtml" />

                        <!--SocialMediaAbout PartialView -->
                        <partial name="~/Views/About/SocialMediaAbout.cshtml" />

                        <!--Writer Last Blog  ViewComponent-->
                        <vc:writer-last-blog></vc:writer-last-blog>
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->



</body>

</html>