
<h4 class="title mb-3"><strong>Sosyal Media</strong></h4>
<div class="tech-btm widget_social">
    
    <ul>

        <li>
            <a class="twitter" href="#">
                <i class="fab fa-twitter"></i>
                <span class="count">317K</span> Twitter Takipçileri
            </a>
        </li>
        <li>
            <a class="facebook" href="#">
                <i class="fab fa-facebook-f"></i>
                <span class="count">218k</span> Twitter Takipçileri
            </a>
        </li>
        <li>
            <a class="dribble" href="#">
                <i class="fab fa-dribbble"></i>

                <span class="count">215k</span> Dribble Takipçileri
            </a>
        </li>
        <li>
            <a class="pin" href="#">
                <i class="fab fa-pinterest"></i>
                <span class="count">190k</span> Pinterest Takipçileri
            </a>
        </li>

    </ul>
</div>

