@using EntityLayer.Concrete
@model List<Blog>

<head>
    <style>
        .img1 {
            padding: 0;
            max-height: 100%;
            /* min-width: 100%;*/
        }
    </style>
</head>

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="tech-btm">
        <h4 class="mb-3"><b>Yazarın Diğer Yazıları</b></h4>
        @foreach (var item in Model)
        {
            <div class="blog-grids row mb-3">
                <div class="col-md-5 blog-grid-left">
                    <a href="/Blog/BlogReadAll/@item.BlogId" style="width:40rem; height:40rem">
                        <img src="~/BlogImageFiles/@item.BlogImage" alt="image" class="img1 img-fluid" />
                    </a>
                </div>

                <div class="col-md-7 blog-grid-right">
                    <h5>@item.BlogTitle</h5>

                    <div class="sub-meta">
                        <span>
                            <i class="far fa-clock"></i> @item.BlogCreateDate.ToString("dd MMMM yyyy")
                        </span>
                    </div>
                </div>

            </div>
        }
    </div>
}