<div class="tech-btm">
    <p>Teknoloji, yazılım ve diğer bloglar.. </p>
    <form asp-action="SubscribeMail" asp-controller="NewsLetter" method="post" autocomplete="off">

        <input style="border-radius:10px 10px" type="email" placeholder="Email" required="" name="Mail">
        <input style="border-radius:10px 10px" type="submit" value="Abone Ol">

    </form>
</div>