@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div id="wrapper" class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInRight">

        <!--StatisticViewComponent-->
        @await Component.InvokeAsync("Statistic1")



        <div class="row">
            <div class="col-lg-2">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">217</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-thumbs-up fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">400</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget style1 navy-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-rss fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">10</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget style1 lazur-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-phone fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">120</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget style1 lazur-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-euro fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">462</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget style1 yellow-bg">
                    <div class="row vertical-align">
                        <div class="col-3">
                            <i class="fa fa-shield fa-3x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h2 class="font-bold">610</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>