<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/Thema/AdminPanel/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">İlkay Gül</span>
                        <span class="text-muted text-xs block">Software Developher <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="~/Thema/AdminPanel/profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="~/Thema/AdminPanel/contacts.html">Contacts</a></li>
                        <li><a class="dropdown-item" href="~/Thema/AdminPanel/mailbox.html">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="~/Thema/AdminPanel/login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    İG+
                </div>
            </li>

            <li>
                <a href="/Admin/Category/Index"><i class="fa fa-th-large"></i> <span class="nav-label">Kategoriler</span></a>
            </li>

            <li>
                <a href=""><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Flot Charts</a></li>
                    <li><a href="">Morris.js Charts</a></li>
                    <li><a href="">Rickshaw Charts</a></li>

                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning float-right">16/24</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Inbox</a></li>
                    <li><a href="">Email view</a></li>
                    <li><a href="">Compose email</a></li>
                    <li><a href="">Email templates</a></li>
                </ul>
            </li>
            <li>
                <a href=""><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span>  </a>
            </li>
            <li>
                <a href=""><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Basic form</a></li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="float-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Contacts</a></li>
                    <li><a href="">Profile</a></li>


                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info float-right">NEW</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Notification</a></li>
                    <li><a href="">Nestable list</a></li>
                    <li><a href="">Agile board</a></li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Typography</a></li>
                    <li><a href="">Icons</a></li>
                    <li><a href="">Draggable Panels</a></li>

                </ul>
            </li>

            <li>
                <a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Static Tables</a></li>
                    <li><a href="">Data Tables</a></li>
                    <li><a href="">Foo Tables</a></li>
                    <li><a href="">jqGrid</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Products grid</a></li>
                    <li><a href="">Products list</a></li>
                    <li><a href="">Product edit</a></li>
                    <li><a href="">Product detail</a></li>
                    <li><a href="">Cart</a></li>
                    <li><a href="">Orders</a></li>
                    <li><a href="">Credit Card form</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">Lightbox Gallery</a></li>
                    <li><a href="">Slick Carousel</a></li>
                    <li><a href="">Bootstrap Carousel</a></li>

                </ul>
            </li>


        </ul>

    </div>
</nav>