
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>

    <link rel="stylesheet" href="~/Thema/writerUI/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Thema/writerUI/assets/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/Thema/writerUI/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Thema/writerUI/assets/images/favicon.ico" />
</head>


<body>
    <div class="container-scroller">

        <div class="container-fluid page-body-wrapper">

            <div class="main-panel">
                <div class="content-wrapper">

                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-home"></i>
                            </span> Dashboard
                        </h3>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">
                                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-danger card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/Thema/writerUI/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Toplam Blog Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">0</h2>
                                    <h6 class="card-text">Core 5.0 Proje Kampı</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/Thema/writerUI/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Sizin Blog Sayınız <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">0</h2>
                                    <h6 class="card-text">Core 5.0 Proje Kampı</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/Thema/writerUI/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Son 7 Gündeki Blog Sayısı <i class="mdi mdi-diamond mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">0</h2>
                                    <h6 class="card-text">Core 5.0 Proje Kampı</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--BlogListDashboard ViewComponent-->
                    <vc:blog-list-dashboard></vc:blog-list-dashboard>

                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Recent Updates</h4>
                                    <div class="d-flex">
                                        <div class="d-flex align-items-center mr-4 text-muted font-weight-light">
                                            <i class="mdi mdi-account-outline icon-sm mr-2"></i>
                                            <span>jack Menqu</span>
                                        </div>
                                        <div class="d-flex align-items-center text-muted font-weight-light">
                                            <i class="mdi mdi-clock icon-sm mr-2"></i>
                                            <span>October 3rd, 2018</span>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 pr-1">
                                            <img src="~/Thema/writerUI/assets/images/dashboard/img_1.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                                            <img src="~/Thema/writerUI/assets/images/dashboard/img_4.jpg" class="mw-100 w-100 rounded" alt="image">
                                        </div>
                                        <div class="col-6 pl-1">
                                            <img src="~/Thema/writerUI/assets/images/dashboard/img_2.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                                            <img src="~/Thema/writerUI/assets/images/dashboard/img_3.jpg" class="mw-100 w-100 rounded" alt="image">
                                        </div>
                                    </div>
                                    <div class="d-flex mt-5 align-items-top">
                                        <img src="~/Thema/writerUI/assets/images/faces/face3.jpg" class="img-sm rounded-circle mr-3" alt="image">
                                        <div class="mb-0 flex-grow">
                                            <h5 class="mr-2 mb-2">School Website - Authentication Module.</h5>
                                            <p class="mb-0 font-weight-light">It is a long established fact that a reader will be distracted by the readable content of a page.</p>
                                        </div>
                                        <div class="ml-auto">
                                            <i class="mdi mdi-heart-outline text-muted"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--CategoryListDashboard ViewComponent-->
                    <vc:category-list-dashboard></vc:category-list-dashboard>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Thema/writerUI/assets/vendors/chart.js/Chart.min.js"></script>

</body>
</html>

