@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>
    
    @foreach (var item in Model)
    {
        <div class="media">
            <img src="~/Thema/web/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@item.CommentUserName</h5>
                <a class="mt-0">@item.CommentDate.ToString("dddd, dd /MM /yyyy")</a>
                <p>
                    @item.CommentContent
                </p>
            </div>
        </div>
    }

</div>

