@model IEnumerable<EntityLayer.Concrete.Comment>

<link href="~/css/ModuleDark.css" rel="stylesheet" />

<div class="comment-top">

    <h4>Yorumlar</h4>

    @foreach (var item in Model)
    {
        <hr />
        <div class="media">
            <img src="~/WriterImageFiles/yok.ico" style="min-width:3rem; max-height:5rem" alt="profile" class="img-fluid" />
            <div class="media-body">
                <h5 class="cc">@item.CommentUserName</h5>
                <span class="text-muted mt-0">@item.CommentDate.ToString("dddd, dd /MM /yyyy")</span>
                <div class="cc">
                    @item.CommentTitle
                    <br />
                    @item.CommentContent
                </div>
            </div>
        </div>
        <hr />
    }
</div>

