
@{
    Layout = null;
}

<header>
    <div class="top-bar_sub_w3layouts container-fluid">
        <div class="row">
            <div class="col-md-4 logo text-left">
                <a class="navbar-brand" href="/Blog/Index">
                    <i class="fab fa-linode"></i> Weblog
                </a>
            </div>
            <!--LoginPartial-->
            <partial name="~/Views/Shared/PartialViews/_LoginPartialView.cshtml" />
            <!--//LoginPartial-->
            <div class="col-md-4 log-icons text-right">

                <ul class="social_list1 mt-3">

                    <li>
                        <a href="#" class="facebook1 mx-2">
                            <i class="fab fa-facebook-f"></i>

                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter2">
                            <i class="fab fa-twitter"></i>

                        </a>
                    </li>
                    <li>
                        <a href="#" class="dribble3 mx-2">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pin">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</header>

<div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        AnaSayfa
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About/Index">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Blog/Index">Bloglar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact/Index">İletişim</a>
                </li>
            </ul>

            <form asp-action="Index" asp-controller="Blog" autocomplete="off" method="get" class="form-inline my-2 my-lg-0 header-search">
                <input class="form-control mr-sm-2" value="@ViewData["blogall"]" type="search" placeholder="Search here..." name="Blogsearch" required="">
                <button class="btn btn1 my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>


        </div>
    </nav>

</div>