@{
    Layout = null;
}

<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <div>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <span class="pl-3 pr-3" style="border-radius: 5px 5px; background-color: #01CD74">
                <a style="color:black" href="/Dashboard/Index">Hoşgeldin : <b>"@User.Identity.Name"</b></a>
            </span>

        }
    </div>
    @if (Context.User.Identity.IsAuthenticated == false)
    {
        <span class="mx-lg-4 mx-md-2  mx-1">
            <a href="/Login/Index">
                <i class="fas fa-lock"></i> Giriş Yap
            </a>
        </span>
        <span>
            <a href="/Register/Index">
                <i class="far fa-user"></i> Kayıt Ol
            </a>
        </span>
    }
    <br />
    <span>
        <a asp-controller="Login" asp-action="GoogleLogOut"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
    </span>
</div>