
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Thema/writerUI/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Thema/writerUI/assets/vendors/css/vendor.bundle.base.css">

    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Thema/writerUI/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Thema/writerUI/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:PartialsViews/_navbar.html -->
        <partial name="~/Views/Shared/PartialViews/WriterUIPartials/_NavBar.cshtml" />
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:PartialsViews/_sidebar.html -->
            <partial name="~/Views/Shared/PartialViews/WriterUIPartials/_SideBar.cshtml" />
            <!-- partial -->

            <div class="main-panel">
                <div class="content-wrapper">

                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->

                <!-- partial:PartialsViews/_footer.html -->
                <partial name="~/Views/Shared/PartialViews/WriterUIPartials/_Footer.cshtml" />
                <!-- partial -->
            </div>

        </div>

    </div>

    <!-- plugins:js -->
    <script src="~/Thema/writerUI/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Thema/writerUI/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Thema/writerUI/assets/js/off-canvas.js"></script>
    <script src="~/Thema/writerUI/assets/js/hoverable-collapse.js"></script>
    <script src="~/Thema/writerUI/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/Thema/writerUI/assets/js/dashboard.js"></script>
    <script src="~/Thema/writerUI/assets/js/todolist.js"></script>
    <!-- End custom js for this page -->
</body>
</html>
