
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<head>
    <link href="~/Thema/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Thema/web/css/contact.css" rel='stylesheet' type='text/css' />
    <link href="~/Thema/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Thema/web/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>
<section class="main-content-w3layouts-agileits">

    <h3 class="tittle">İletişim</h3>
    <p class="sub text-center">FİKİRİNİZİ ÖNEMSİYORUZ</p>
    <div class="contact-map inner-sec">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Pdo1m2jXc0OLnaGh9sT8H1_SaH84RnxW" width="640" height="480" style="border:0" allowfullscreen="" class="map"></iframe>

    </div>
    <div class="ad-inf-sec bg-light">
        <div class="container">
            <div class="address row">

                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Adres</h6>
                            <p>
                                Tekirdağ/ÇORLU, TÜRKİYE

                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Email</h6>
                            <p>
                                Email :
                                <a href="mailto:example@email.com"> mail@example.com</a>

                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Telefon</h6>
                            <p>+1 234 567 8901</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact_grid_right">
            <form asp-action="Index" asp-controller="Contact" method="post">
                <div class="row contact_left_grid">
                    <div class="col-md-6 con-left">
                        <div class="form-group">
                            <label for="validationCustom01 my-2">Ad-Soyad</label>
                            <input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">E-Mail</label>
                            <input class="form-control" type="email" name="ContactMail" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label for="validationCustom03 my-2">Konu</label>
                            <input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
                        </div>
                    </div>
                    <div class="col-md-6 con-right">
                        <div class="form-group">
                            <label for="textarea">Mesaj</label>
                            <textarea id="textarea" name="ContactMessage" placeholder="Mesajınızı Yazınız..."></textarea>
                        </div>
                        <input class="form-control" type="submit" value="Gönder">

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="~/Thema/web/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!--/ start-smoth-scrolling -->
<script src="~/Thema/web/js/move-top.js"></script>
<script src="~/Thema/web/js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
</script>
<!-- //Custom-JavaScript-File-Links -->
<script src="~/Thema/web/js/bootstrap.js"></script>