@model IEnumerable<EntityLayer.Concrete.Category>

<div class="tech-btm">
    <h4>Kategoriler</h4>
    <table class="table  table-hover">
        @foreach (var item in Model)
        {
            <tr>
                <td colspan="2"><a style="color:black;" href="/Blog/CategoryDetail/@item.CategoryId">@item.CategoryName </a></td>

            </tr>
        }
    </table>
</div>
