@model IEnumerable<EntityLayer.Concrete.Category>
<link href="~/css/ModuleDark.css" rel="stylesheet" />

<h4 class="cc mb-2"><b>Kategoriler</b></h4>
<div class="cc">

    <table class="table table-hover">
        @foreach (var item in Model)
        {
            <tr>
                <td colspan="2"><a href="/Blog/CategoryDetail/@item.CategoryId">@item.CategoryName </a></td>
            </tr>
        }
    </table>
</div>
