@model IEnumerable<EntityLayer.Concrete.Category>
<div class="tech-btm">
    <h4>Kategoriler</h4>
    @{ int no = 0;}
    <ul class="list-group single">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center table-hover">
                @*<span class="badge badge-pill"></span>*@
                @{no++;} @no )
                @item.CategoryName

            </li>
        }
    </ul>


</div>
