
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="/Admin/Message/NewMessage/">Yeni Mesaj Oluştur</a>
                <div class="space-25"></div>
                <h5>Klasörler</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="/Admin/Message/ContactMessage/"> <i class="fa fa-medium "></i>İletilen Mesajlar  <span class="label label-success float-right">@ViewBag.contactMessage</span> </a></li>
                    <li><a href="/Admin/Message/InBox/"> <i class="fa fa-inbox "></i>Gelen Mesajlar  <span class="label label-warning float-right">@ViewBag.inboxMessage</span> </a></li>
                    <li><a href="/Admin/Message/SendBox/"> <i class="fa fa-envelope-o"></i> Gönderilen Mesajlar  <span class="label label-primary float-right">@ViewBag.sendboxMessage</span></a></li>
                    <li><a href="/Admin/Message/TrashBox/"> <i class="fa fa-trash-o"></i> Çöp Kutusu  <span class="label label-danger float-right">@ViewBag.trashboxMessage</span></a></li>
                </ul>
                <h5>Kategoriler</h5>
                <ul class="category-list" style="padding: 0">
                    <li><a href=""> <i class="fa fa-circle text-navy"></i> Work </a></li>
                    <li><a href=""> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                    <li><a href=""> <i class="fa fa-circle text-primary"></i> Social</a></li>
                    <li><a href=""> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                    <li><a href=""> <i class="fa fa-circle text-warning"></i> Clients</a></li>
                </ul>

                <h5 class="tag-title">Etiketler</h5>
                <ul class="tag-list" style="padding: 0">
                    <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                    <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                    <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                    <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                    <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                    <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                    <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                    <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

